{erl_opts, [debug_info]}.
{deps, [
    {jsx, "3.1.0"}
]}.

{relx, [{release, {tech_writer, "0.1.0"},
         [tech_writer,
          sasl]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}
]}.

{profiles, [{prod, [{relx, [{mode, prod}]}]}]}.

{plugins, [rebar3_hex]}.